In [26]:
import pandas as pd

df = pd.read_parquet('D:/traffic-congestion-predictor/data/raw/yellow_tripdata_2025-01.parquet')
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
325662,2,2025-01-04 21:01:36,2025-01-04 21:13:33,1.0,1.21,1.0,N,230,137,1,11.40,1.0,0.5,3.28,0.0,1.0,19.68,2.5,0.0,0.00
3472356,1,2025-01-31 23:42:29,2025-01-31 23:58:43,NaN,1.90,NaN,None,249,4,0,14.28,0.0,0.5,0.00,0.0,1.0,19.03,NaN,NaN,0.75
2863199,2,2025-01-31 12:25:52,2025-01-31 12:38:15,1.0,0.86,1.0,N,137,107,1,12.10,0.0,0.5,0.00,0.0,1.0,16.85,2.5,0.0,0.75
3043301,2,2025-01-12 01:51:22,2025-01-12 01:59:09,NaN,1.82,NaN,None,68,211,0,9.67,0.0,0.5,0.00,0.0,1.0,14.42,NaN,NaN,0.75
2410271,1,2025-01-26 16:52:24,2025-01-26 17:05:17,1.0,5.80,1.0,N,149,155,2,23.30,0.0,0.5,0.00,0.0,1.0,24.80,0.0,0.0,0.00

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB

In [28]:
df_taxi = df.sample(n=50000, random_state=42).copy()

In [29]:
df_zone = pd.read_csv('D:/traffic-congestion-predictor/data/raw/taxi_zone_lookup.csv')
#some zones and boroughs were laterfound missing for ID 264 
# Correct borough and zone for ALL rows where PULocationID = 264
#df_taxi.loc[df_taxi['PULocationID'] == 264, ['PUBorough', 'PUZone']] = ['Manhattan', 'Battery Park']
# Check if all PULocationID = 264 rows are now consistent
#fixed_rows = df_taxi[df_taxi['PULocationID'] == 264]
#print(fixed_rows[['PULocationID', 'PUBorough', 'PUZone']].value_counts())

In [30]:
# Merge pickup zone details
df_taxi = df_taxi.merge(
    df_zone,
    how='left',
    left_on='PULocationID',
    right_on='LocationID'
)

# Rename for pickup, just to avoid confusion later if any
df_taxi.rename(columns={
    'Borough': 'PUBorough',
    'Zone': 'PUZone',
    'service_zone': 'PUServiceZone'
}, inplace=True)

# Drop duplicate LocationID column, can also assign the new df without inplace as well
df_taxi.drop(columns=['LocationID'], inplace=True)

# Merge drop-off zone details
df_taxi = df_taxi.merge(
    df_zone,
    how='left',
    left_on='DOLocationID',
    right_on='LocationID'
)


df_taxi.rename(columns={
    'Borough': 'DOBorough',
    'Zone': 'DOZone',
    'service_zone': 'DOServiceZone'
}, inplace=True)

df_taxi.drop(columns=['LocationID'], inplace=True)

#Filter for Manhattan trips
df_taxi = df_taxi[
    (df_taxi['PUBorough'] == 'Manhattan') | 
    (df_taxi['DOBorough'] == 'Manhattan')
].copy()

In [31]:
# Ensure datetime columns are in datetime format
df_taxi['tpep_pickup_datetime'] = pd.to_datetime(df_taxi['tpep_pickup_datetime'])
df_taxi['tpep_dropoff_datetime'] = pd.to_datetime(df_taxi['tpep_dropoff_datetime'])

# Calculate trip duration in hours
df_taxi['trip_duration_hr'] = (df_taxi['tpep_dropoff_datetime'] - df_taxi['tpep_pickup_datetime']).dt.total_seconds() / 3600

# Remove trips with zero or very short duration to avoid division errors
df_taxi = df_taxi[df_taxi['trip_duration_hr'] > 0]

# Calculate average speed (target variable)
df_taxi['avg_speed'] = df_taxi['trip_distance'] / df_taxi['trip_duration_hr']

In [32]:
df_weather = pd.read_csv("D:/traffic-congestion-predictor/data/processed/weather_with_snow.csv")

In [33]:
# Create an hour column from taxi pickup datetime
df_taxi['pickup_hour_dt'] = df_taxi['tpep_pickup_datetime'].dt.floor('h')
df_weather['hour'] = pd.to_datetime(df_weather['hour'])

# Merge on pickup hour
df_merged = pd.merge(df_taxi, df_weather, left_on='pickup_hour_dt', right_on='hour', how='left')

In [34]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47125 entries, 0 to 47124
Data columns (total 42 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               47125 non-null  int32
 1   tpep_pickup_datetime   47125 non-null  datetime64[us]
 2   tpep_dropoff_datetime  47125 non-null  datetime64[us]
 3   passenger_count        40222 non-null  float64
 4   trip_distance          47125 non-null  float64
 5   RatecodeID             40222 non-null  float64
 6   store_and_fwd_flag     40222 non-null  object
 7   PULocationID           47125 non-null  int32
 8   DOLocationID           47125 non-null  int32
 9   payment_type           47125 non-null  int64
 10  fare_amount            47125 non-null  float64
 11  extra                  47125 non-null  float64
 12  mta_tax                47125 non-null  float64
 13  tip_amount             47125 non-null  float64
 14  tolls_amount           47125 non-null  float64
 15  improvement_surcharge  47125 non-null  float64
 16  total_amount           47125 non-null  float64
 17  congestion_surcharge   40222 non-null  float64
 18  Airport_fee            40222 non-null  float64
 19  cbd_congestion_fee     47125 non-null  float64
 20  PUBorough              47124 non-null  object
 21  PUZone                 47059 non-null  object
 22  PUServiceZone          47058 non-null  object
 23  DOBorough              47081 non-null  object
 24  DOZone                 47026 non-null  object
 25  DOServiceZone          46982 non-null  object
 26  trip_duration_hr       47125 non-null  float64
 27  avg_speed              47125 non-null  float64
 28  pickup_hour_dt         47125 non-null  datetime64[us]
 29  hour                   47125 non-null  datetime64[ns]
 30  temp                   47125 non-null  float64
 31  dwpt                   47125 non-null  float64
 32  rhum                   47125 non-null  float64
 33  prcp                   47125 non-null  float64
 34  snow                   0 non-null      float64
 35  wdir                   47125 non-null  float64
 36  wspd                   47125 non-null  float64
 37  wpgt                   0 non-null      float64
 38  pres                   47125 non-null  float64
 39  tsun                   0 non-null      float64
 40  coco                   47125 non-null  float64
 41  snowed                 47125 non-null  int64
dtypes: datetime64[ns](1), datetime64[us](3), float64(26), int32(3), int64(2), object(7)
memory usage: 14.6+ MB

In [35]:
df_merged.to_csv("D:/traffic-congestion-predictor/data/processed/weather_yellow_merged.csv", index=False)

In [36]:
# Ensure pickup_hour_dt is datetime
df_merged['pickup_hour_dt'] = pd.to_datetime(df_merged['tpep_pickup_datetime'])

# Extract pickup hour (as int)
df_merged['pickup_hour'] = df_merged['pickup_hour_dt'].dt.hour

# Extract pickup day (Monday, Tuesday, ...)
df_merged['pickup_day'] = df_merged['pickup_hour_dt'].dt.day_name()

# midweek flag
df_merged['is_midweek'] = df_merged['pickup_hour_dt'].dt.weekday.isin([2, 3, 4])  # wednesday=2, thursday=3, friday= 4

# Rush hour flag (roughly 7–9 AM or 4–7 PM)
df_merged['is_rush_hour'] = df_merged['pickup_hour'].isin([7, 8, 9, 16, 17, 18, 19])

In [37]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47125 entries, 0 to 47124
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               47125 non-null  int32
 1   tpep_pickup_datetime   47125 non-null  datetime64[us]
 2   tpep_dropoff_datetime  47125 non-null  datetime64[us]
 3   passenger_count        40222 non-null  float64
 4   trip_distance          47125 non-null  float64
 5   RatecodeID             40222 non-null  float64
 6   store_and_fwd_flag     40222 non-null  object
 7   PULocationID           47125 non-null  int32
 8   DOLocationID           47125 non-null  int32
 9   payment_type           47125 non-null  int64
 10  fare_amount            47125 non-null  float64
 11  extra                  47125 non-null  float64
 12  mta_tax                47125 non-null  float64
 13  tip_amount             47125 non-null  float64
 14  tolls_amount           47125 non-null  float64
 15  improvement_surcharge  47125 non-null  float64
 16  total_amount           47125 non-null  float64
 17  congestion_surcharge   40222 non-null  float64
 18  Airport_fee            40222 non-null  float64
 19  cbd_congestion_fee     47125 non-null  float64
 20  PUBorough              47124 non-null  object
 21  PUZone                 47059 non-null  object
 22  PUServiceZone          47058 non-null  object
 23  DOBorough              47081 non-null  object
 24  DOZone                 47026 non-null  object
 25  DOServiceZone          46982 non-null  object
 26  trip_duration_hr       47125 non-null  float64
 27  avg_speed              47125 non-null  float64
 28  pickup_hour_dt         47125 non-null  datetime64[us]
 29  hour                   47125 non-null  datetime64[ns]
 30  temp                   47125 non-null  float64
 31  dwpt                   47125 non-null  float64
 32  rhum                   47125 non-null  float64
 33  prcp                   47125 non-null  float64
 34  snow                   0 non-null      float64
 35  wdir                   47125 non-null  float64
 36  wspd                   47125 non-null  float64
 37  wpgt                   0 non-null      float64
 38  pres                   47125 non-null  float64
 39  tsun                   0 non-null      float64
 40  coco                   47125 non-null  float64
 41  snowed                 47125 non-null  int64
 42  pickup_hour            47125 non-null  int32
 43  pickup_day             47125 non-null  object
 44  is_midweek             47125 non-null  bool
 45  is_rush_hour           47125 non-null  bool
dtypes: bool(2), datetime64[ns](1), datetime64[us](3), float64(26), int32(4), int64(2), object(8)
memory usage: 15.2+ MB

In [38]:
missing_zone_ids = df_taxi[df_taxi['PUZone'].isna()]['PULocationID'].unique()
print("PULocationIDs with missing Zones:", missing_zone_ids)

PULocationIDs with missing Zones: [264]

In [39]:
cols_to_keep = [
    'avg_speed',           # Target

    # Temporal
    'pickup_hour_dt',
    'pickup_hour',
    'pickup_day',
    'is_midweek',
    'is_rush_hour',

    # Spatial
    'PULocationID',
    'DOLocationID',
    'PUBorough',
    'DOBorough',
    'PUZone',
    'DOZone',

    # Weather
    'temp',
    'prcp',
    'wspd',
    'coco',
    'snowed'
]

df_ml_ready = df_merged[cols_to_keep].copy()
# Check NaN counts in the columns you're keeping
nan_counts = df_merged[cols_to_keep].isna().sum()
print("Missing values per column before dropna():")
print(nan_counts[nan_counts > 0])

#df_ml_ready.dropna(inplace=True)

Missing values per column before dropna():
PUBorough     1
DOBorough    44
PUZone       66
DOZone       99
dtype: int64

In [40]:
df_ml_ready.head()

,avg_speed,pickup_hour_dt,pickup_hour,pickup_day,is_midweek,is_rush_hour,PULocationID,DOLocationID,PUBorough,DOBorough,PUZone,DOZone,temp,prcp,wspd,coco,snowed
0,7.990847,2025-01-18 20:53:30,20,Saturday,False,False,238,166,Manhattan,Manhattan,Upper West Side North,Morningside Heights,7.0,0.2,6.8,7.0,0
1,7.058824,2025-01-25 11:12:51,11,Saturday,False,False,50,48,Manhattan,Manhattan,Clinton West,Clinton East,-6.0,0.0,6.0,1.0,1
2,5.043783,2025-01-21 15:09:31,15,Tuesday,False,False,236,237,Manhattan,Manhattan,Upper East Side North,Upper East Side South,-10.0,0.0,11.0,2.0,1
3,13.439072,2025-01-11 22:25:45,22,Saturday,False,False,231,68,Manhattan,Manhattan,TriBeCa/Civic Center,East Chelsea,1.0,0.0,20.0,3.0,1
4,30.101695,2025-01-04 23:37:07,23,Saturday,False,False,137,88,Manhattan,Manhattan,Kips Bay,Financial District South,-1.0,0.0,7.0,3.0,0

In [41]:
df_ml_ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47125 entries, 0 to 47124
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   avg_speed       47125 non-null  float64
 1   pickup_hour_dt  47125 non-null  datetime64[us]
 2   pickup_hour     47125 non-null  int32
 3   pickup_day      47125 non-null  object
 4   is_midweek      47125 non-null  bool
 5   is_rush_hour    47125 non-null  bool
 6   PULocationID    47125 non-null  int32
 7   DOLocationID    47125 non-null  int32
 8   PUBorough       47124 non-null  object
 9   DOBorough       47081 non-null  object
 10  PUZone          47059 non-null  object
 11  DOZone          47026 non-null  object
 12  temp            47125 non-null  float64
 13  prcp            47125 non-null  float64
 14  wspd            47125 non-null  float64
 15  coco            47125 non-null  float64
 16  snowed          47125 non-null  int64
dtypes: bool(2), datetime64[us](1), float64(5), int32(3), int64(1), object(5)
memory usage: 4.9+ MB

In [42]:
# Verify Manhattan filtering worked
assert df_merged['PUBorough'].eq('Manhattan').any() or df_merged['DOBorough'].eq('Manhattan').any(), \
       "Manhattan filtering failed - no Manhattan trips found"

In [43]:
df_ml_ready.to_csv("D:/traffic-congestion-predictor/data/processed/final_modeling_data.csv", index=False)