In [1]:
import pandas as pd

df = pd.read_parquet('D:/traffic-congestion-predictor/data/raw/yellow_tripdata_2025-01.parquet')
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
2702694,1,2025-01-29 20:02:21,2025-01-29 20:11:30,1.0,1.70,1.0,N,163,234,1,11.40,4.25,0.5,3.43,0.0,1.0,20.58,2.5,0.0,0.75
65575,2,2025-01-01 20:43:03,2025-01-01 20:55:38,1.0,2.25,1.0,N,234,140,1,14.20,1.00,0.5,3.00,0.0,1.0,22.20,2.5,0.0,0.00
1035750,1,2025-01-12 15:44:23,2025-01-12 15:52:24,1.0,1.50,1.0,N,45,79,1,10.00,3.25,0.5,2.95,0.0,1.0,17.70,2.5,0.0,0.75
2527509,2,2025-01-28 08:08:18,2025-01-28 08:21:06,1.0,2.34,1.0,N,79,162,1,14.20,0.00,0.5,3.79,0.0,1.0,22.74,2.5,0.0,0.75
2961542,2,2025-01-04 20:37:30,2025-01-04 20:47:41,NaN,1.53,NaN,None,89,91,0,11.76,0.00,0.5,0.00,0.0,1.0,13.26,NaN,NaN,0.00

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB

In [3]:
df_taxi = df.sample(n=50000, random_state=42).copy()

In [4]:
df_zone = pd.read_csv('D:/traffic-congestion-predictor/data/raw/taxi_zone_lookup.csv')
#some zones were laterfound missing for ID 264 
missing_zone = pd.DataFrame({
    'LocationID': [264],
    'Borough': ['Manhattan'],
    'Zone': ['Battery Park']
})
df_zone = pd.concat([df_zone, missing_zone], ignore_index=True)

# 1. First merge taxi with zone data (for pickup)
df_taxi = df_taxi.merge(
    df_zone[['LocationID', 'Borough','Zone']],
    how='left',
    left_on='PULocationID',
    right_on='LocationID'
).rename(columns={'Borough': 'PUBorough','Zone': 'PUZone'}).drop(columns=['LocationID'])

# 2. merge with zone data for dropoff
df_taxi = df_taxi.merge(
    df_zone[['LocationID', 'Borough','Zone']],
    how='left',
    left_on='DOLocationID',
    right_on='LocationID'
).rename(columns={'Borough': 'DOBorough','Zone': 'DOZone'}).drop(columns=['LocationID'])

# 3. Filter for Manhattan trips
df_taxi = df_taxi[
    (df_taxi['PUBorough'] == 'Manhattan') | 
    (df_taxi['DOBorough'] == 'Manhattan')
].copy()
#some zones were laterfound missing for ID 264 
missing_zone = pd.DataFrame({
    'LocationID': [264],
    'Borough': ['Manhattan'],
    'Zone': ['Battery Park']
})
df_zone = pd.concat([df_zone, missing_zone], ignore_index=True)

In [5]:
# Ensure datetime columns are in datetime format
df_taxi['tpep_pickup_datetime'] = pd.to_datetime(df_taxi['tpep_pickup_datetime'])
df_taxi['tpep_dropoff_datetime'] = pd.to_datetime(df_taxi['tpep_dropoff_datetime'])

# Calculate trip duration in hours
df_taxi['trip_duration_hr'] = (df_taxi['tpep_dropoff_datetime'] - df_taxi['tpep_pickup_datetime']).dt.total_seconds() / 3600

# Remove trips with zero or very short duration to avoid division errors
df_taxi = df_taxi[df_taxi['trip_duration_hr'] > 0]

# Calculate average speed (target variable)
df_taxi['avg_speed'] = df_taxi['trip_distance'] / df_taxi['trip_duration_hr']

In [6]:
df_weather = pd.read_csv("D:/traffic-congestion-predictor/data/processed/weather_with_snow.csv")

In [7]:
# Create an hour column from taxi pickup datetime
df_taxi['pickup_hour_dt'] = df_taxi['tpep_pickup_datetime'].dt.floor('h')
df_weather['hour'] = pd.to_datetime(df_weather['hour'])

# Merge on pickup hour
df_merged = pd.merge(df_taxi, df_weather, left_on='pickup_hour_dt', right_on='hour', how='left')

In [8]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47461 entries, 0 to 47460
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               47461 non-null  int32
 1   tpep_pickup_datetime   47461 non-null  datetime64[us]
 2   tpep_dropoff_datetime  47461 non-null  datetime64[us]
 3   passenger_count        40546 non-null  float64
 4   trip_distance          47461 non-null  float64
 5   RatecodeID             40546 non-null  float64
 6   store_and_fwd_flag     40546 non-null  object
 7   PULocationID           47461 non-null  int32
 8   DOLocationID           47461 non-null  int32
 9   payment_type           47461 non-null  int64
 10  fare_amount            47461 non-null  float64
 11  extra                  47461 non-null  float64
 12  mta_tax                47461 non-null  float64
 13  tip_amount             47461 non-null  float64
 14  tolls_amount           47461 non-null  float64
 15  improvement_surcharge  47461 non-null  float64
 16  total_amount           47461 non-null  float64
 17  congestion_surcharge   40546 non-null  float64
 18  Airport_fee            40546 non-null  float64
 19  cbd_congestion_fee     47461 non-null  float64
 20  PUBorough              47460 non-null  object
 21  PUZone                 47341 non-null  object
 22  DOBorough              47417 non-null  object
 23  DOZone                 47308 non-null  object
 24  trip_duration_hr       47461 non-null  float64
 25  avg_speed              47461 non-null  float64
 26  pickup_hour_dt         47461 non-null  datetime64[us]
 27  hour                   47461 non-null  datetime64[ns]
 28  temp                   47461 non-null  float64
 29  dwpt                   47461 non-null  float64
 30  rhum                   47461 non-null  float64
 31  prcp                   47461 non-null  float64
 32  snow                   0 non-null      float64
 33  wdir                   47461 non-null  float64
 34  wspd                   47461 non-null  float64
 35  wpgt                   0 non-null      float64
 36  pres                   47461 non-null  float64
 37  tsun                   0 non-null      float64
 38  coco                   47461 non-null  float64
 39  snowed                 47461 non-null  int64
dtypes: datetime64[ns](1), datetime64[us](3), float64(26), int32(3), int64(2), object(5)
memory usage: 13.9+ MB

In [9]:
df_merged.to_csv("D:/traffic-congestion-predictor/data/processed/weather_yellow_merged.csv", index=False)

In [10]:
# Ensure pickup_hour_dt is datetime
df_merged['pickup_hour_dt'] = pd.to_datetime(df_merged['tpep_pickup_datetime'])

# Extract pickup hour (as int)
df_merged['pickup_hour'] = df_merged['pickup_hour_dt'].dt.hour

# Extract pickup day (Monday, Tuesday, ...)
df_merged['pickup_day'] = df_merged['pickup_hour_dt'].dt.day_name()

# midweek flag
df_merged['is_midweek'] = df_merged['pickup_hour_dt'].dt.weekday.isin([2, 3, 4])  # wednesday=2, thursday=3, friday= 4

# Rush hour flag (roughly 7–9 AM or 4–7 PM)
df_merged['is_rush_hour'] = df_merged['pickup_hour'].isin([7, 8, 9, 16, 17, 18, 19])

In [11]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47461 entries, 0 to 47460
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               47461 non-null  int32
 1   tpep_pickup_datetime   47461 non-null  datetime64[us]
 2   tpep_dropoff_datetime  47461 non-null  datetime64[us]
 3   passenger_count        40546 non-null  float64
 4   trip_distance          47461 non-null  float64
 5   RatecodeID             40546 non-null  float64
 6   store_and_fwd_flag     40546 non-null  object
 7   PULocationID           47461 non-null  int32
 8   DOLocationID           47461 non-null  int32
 9   payment_type           47461 non-null  int64
 10  fare_amount            47461 non-null  float64
 11  extra                  47461 non-null  float64
 12  mta_tax                47461 non-null  float64
 13  tip_amount             47461 non-null  float64
 14  tolls_amount           47461 non-null  float64
 15  improvement_surcharge  47461 non-null  float64
 16  total_amount           47461 non-null  float64
 17  congestion_surcharge   40546 non-null  float64
 18  Airport_fee            40546 non-null  float64
 19  cbd_congestion_fee     47461 non-null  float64
 20  PUBorough              47460 non-null  object
 21  PUZone                 47341 non-null  object
 22  DOBorough              47417 non-null  object
 23  DOZone                 47308 non-null  object
 24  trip_duration_hr       47461 non-null  float64
 25  avg_speed              47461 non-null  float64
 26  pickup_hour_dt         47461 non-null  datetime64[us]
 27  hour                   47461 non-null  datetime64[ns]
 28  temp                   47461 non-null  float64
 29  dwpt                   47461 non-null  float64
 30  rhum                   47461 non-null  float64
 31  prcp                   47461 non-null  float64
 32  snow                   0 non-null      float64
 33  wdir                   47461 non-null  float64
 34  wspd                   47461 non-null  float64
 35  wpgt                   0 non-null      float64
 36  pres                   47461 non-null  float64
 37  tsun                   0 non-null      float64
 38  coco                   47461 non-null  float64
 39  snowed                 47461 non-null  int64
 40  pickup_hour            47461 non-null  int32
 41  pickup_day             47461 non-null  object
 42  is_midweek             47461 non-null  bool
 43  is_rush_hour           47461 non-null  bool
dtypes: bool(2), datetime64[ns](1), datetime64[us](3), float64(26), int32(4), int64(2), object(6)
memory usage: 14.6+ MB

In [12]:
missing_zone_ids = df_taxi[df_taxi['PUZone'].isna()]['PULocationID'].unique()
print("PULocationIDs with missing Zones:", missing_zone_ids)

PULocationIDs with missing Zones: [264]

In [13]:
cols_to_keep = [
    'avg_speed',           # Target

    # Temporal
    'pickup_hour_dt',
    'pickup_hour',
    'pickup_day',
    'is_midweek',
    'is_rush_hour',

    # Spatial
    'PULocationID',
    'DOLocationID',
    'PUBorough',
    'DOBorough',
    'PUZone',
    'DOZone',

    # Weather
    'temp',
    'prcp',
    'wspd',
    'coco',
    'snowed'
]

df_ml_ready = df_merged[cols_to_keep].copy()
df_ml_ready.dropna(inplace=True)

In [14]:
df_ml_ready.head()

,avg_speed,pickup_hour_dt,pickup_hour,pickup_day,is_midweek,is_rush_hour,PULocationID,DOLocationID,PUBorough,DOBorough,PUZone,DOZone,temp,prcp,wspd,coco,snowed
0,7.990847,2025-01-18 20:53:30,20,Saturday,False,False,238,166,Manhattan,Manhattan,Upper West Side North,Morningside Heights,7.0,0.2,6.8,7.0,0
1,7.058824,2025-01-25 11:12:51,11,Saturday,False,False,50,48,Manhattan,Manhattan,Clinton West,Clinton East,-6.0,0.0,6.0,1.0,1
2,5.043783,2025-01-21 15:09:31,15,Tuesday,False,False,236,237,Manhattan,Manhattan,Upper East Side North,Upper East Side South,-10.0,0.0,11.0,2.0,1
3,13.439072,2025-01-11 22:25:45,22,Saturday,False,False,231,68,Manhattan,Manhattan,TriBeCa/Civic Center,East Chelsea,1.0,0.0,20.0,3.0,1
4,30.101695,2025-01-04 23:37:07,23,Saturday,False,False,137,88,Manhattan,Manhattan,Kips Bay,Financial District South,-1.0,0.0,7.0,3.0,0

In [15]:
df_ml_ready.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47143 entries, 0 to 47460
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   avg_speed       47143 non-null  float64
 1   pickup_hour_dt  47143 non-null  datetime64[us]
 2   pickup_hour     47143 non-null  int32
 3   pickup_day      47143 non-null  object
 4   is_midweek      47143 non-null  bool
 5   is_rush_hour    47143 non-null  bool
 6   PULocationID    47143 non-null  int32
 7   DOLocationID    47143 non-null  int32
 8   PUBorough       47143 non-null  object
 9   DOBorough       47143 non-null  object
 10  PUZone          47143 non-null  object
 11  DOZone          47143 non-null  object
 12  temp            47143 non-null  float64
 13  prcp            47143 non-null  float64
 14  wspd            47143 non-null  float64
 15  coco            47143 non-null  float64
 16  snowed          47143 non-null  int64
dtypes: bool(2), datetime64[us](1), float64(5), int32(3), int64(1), object(5)
memory usage: 5.3+ MB

In [16]:
# Verify Manhattan filtering worked
assert df_merged['PUBorough'].eq('Manhattan').any() or df_merged['DOBorough'].eq('Manhattan').any(), \
       "Manhattan filtering failed - no Manhattan trips found"

In [17]:
df_ml_ready.to_csv("D:/traffic-congestion-predictor/data/processed/final_modeling_data.csv", index=False)